<!--Shows the current user name and email address-->
<h1>Hello, <%= @user.name %>!</h1>

<p>Here is your recent account configuration.</p>
<p><strong>Email address:</strong> <%= @user.email %></p>

<!--Links to edit/delete account (only name and email) and to home page-->
<button class="button"><%= link_to "Edit Account", edit_user_path(@user) %></button>
<button class="button"><%= link_to 'Delete', user_path(@user), method: :delete, data:{ confirm: 'Are you sure?'} %></button>


