 <!--Title of this page-->
 <h1>Project Managment Application</h1>
 <p><strong>About us</strong></p>
 <p>In this application, you will be able to manage your projects and it's bugs!</p>
 <p>You can create, view, edit, and delete a project, but there can not be two equal projects, so make sure you do not take anyone else's project and run to do yours!</p>
 <p>You can also create, view, edit, solve, and delete a bug related to a particular project you created. However, each bug must be unique, but you can add as many bugs as you want to each project.</p>
 <p>Finally, you will also be able to change your account, but just your email and your name, so choose your password carefully! Of course, you'll be able to delete your account (but this would be very sad).</p>
 <p>Have fun!</p>