 <!--Title of this page-->
 <div class = 'title'>
 	<h1> Project Managment Application <h1>
 </div>

<!--Links to the application's functionalities-->
 <div class = 'btn account'>
 	<%= link_to 'Manage account', user_path(@current_user.id)%>
 </div>

 <div class = 'btn project'>
 	<%= link_to 'Manage projects', projects_path %>
 </div>

 <div class = 'btn bug'>
 	<%= link_to 'Manage bugs', bugs_path %>
 </div>