@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);


/* ----------------------------------- Body */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background-color: #EEEEEE;
}

/* ----------------------------------- Header */

.header {
  background-color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  text-align: center;
  color: #4f4f4f;
}

/* ----------------------------------- Main */

.main {
  width: 100%;
  height: 100%;
}

.content {
  width: 80%;
  margin: 5% auto 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  max-width: 900px;
}

.content .slider {
  width: 100%;
  height: 5px;
  background-color: #fe523a;
}

.content .information {
  width: 100%;
  padding: 20px 50px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}

.content .information h1 {
  color: #333;
  font-size: 1.5rem;
  padding: 0px 10px;
  border-left: 3px solid #F03861;
}

.content .information p {
  padding: 10px 0px;
}

.content .topnav ul {
  font-size: 0;
  list-style-type: none;
}

.content .topnav ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  display: inline-block;
  padding: 15px;
  position: relative;
}

.content .topnav ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

#logout {
  float: right;
}

.content .topnav h1 {
  font-family: 'josefin sans';
  font-weight: 700;
  letter-spacing: .2em; 
  text-transform: uppercase;
  color: #fff;
  background-color: #fe523a;
  text-align: center;
  padding: 15px 0 15px;
}

.content .topnav a {
  text-decoration: none;
  color: #494949;
  padding: 12px 0 12px;
}

.content .topnav a a:visited a:hover a:active {
  color: inherit;
}

/* ----------------------------------- Content (Information div) */

/* --- Link buttons --- */

.button {
  width: 120px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #fe523a;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

.button a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 9px 0 9px;
}

.button a a:visited a:hover a:active {
  color: inherit;
}

/* - To default links - */
a {
  color: #161616;
}

a a:visited a:hover a:active {
  color: inherit;
}

/* --- Sign Up and Log In pages --- */

.login-page {
  width: 360px;
  padding: 3% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #f4f4f4;
  max-width: 360px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ededed;
  color: #5e5e5e;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .form-bnt {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #fe523a;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #e04631;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #fe523a;
  text-decoration: none;
}

.form .register-form {
  display: block;
}

 .field {
  color: #b3b3b3;
  font-size: 15px;
 }

/* --- Form erros in signup --- */

.error_explanation {
  color: #fe523a;
  text-align: center;
  font-size: 12px;
}

.error_list {
  color: #5e5e5e;
}

.error_list > ol li {
  text-align: left;
}

.error_list > ol {
  padding: 13px;
  margin: 15px 0 15px;
}

/* --- Forms for project and bug --- */

.form-style-1 {
  max-width: 400px;
  padding: 0px 12px 10px 20px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form-style-1 label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}

.form-style-1 .field-long{
  width: 100%;
}

.form-style-1 .field-textarea{
  height: 100px;
}

.form-style-1 .submit-bnt {
  background: #fe523a;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

/* --- Table's style --- */

table {
    border-collapse: collapse;
    width: 55%;
    margin: 10px 0;
}

th, td {
    text-align: center;
    padding: 8px 4px 8px 4px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #141414;
    color: white;
}

/* --- Action button --- */

span {
  background: #fe523a;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  color: white;
  font-size: 16px;
}

span a {
  color: white;
  text-decoration: none;
}

span a a:visited a:hover a:active {
  color: inherit;
}